/*p {
    display: inline-block;
    font-size: 110% !important;
}
* {
    background-color: #fcfdff  !important;
}
*/

.sidebar-toggle span {
    width: 32px;
    height: 4px; 
  }
  .warning {
    background-color:yellow;
    font-style: italic;
  }
  img[src*="#halfsize"] {
 width:50%;
 height:50%;
  }

  .floatleft {
    float: left;
  }

  .floatright {
      float: right;
  }